@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:800');

/* Page sections */

body {
	font-family:"Source Sans Pro", sans-serif !important;
	background-color:#1e2124;
}

#mspalogo, #mspalogo:hover, .mspfalogo
{
	background-image:url("http://ultrasaber.github.io/hosting/ags-logo.png") !important;
}

#content div.spoiler.open, #content div.spoiler.closed
{
	border-color:#ccc;
	border-width:1px 1px 1px 4px;
	border-style:solid;
	border-radius:0px 4px 4px 0px;
	background-color:#fff !important;
}

#content div.spoiler.open div
{
	background-color:#fff !important;
}

#slide
{
	border-radius:0px 0px 15px 15px;
}

button, input
{
	font-family:"Source Sans Pro";
	font-weight:700;
	font-size:11px;
	text-transform:uppercase;
	background-color:#7289da;
	border:0px solid #7289da;
	padding:4px !important;
	color:#fff;
	border-radius:3px
}

div#main
{
	background-color:#1e2124;
}

#container2, div.spoiler.open div:last-child
{
	background-color:#2e3136;
	padding:10px;
	border-radius:4px;
}

#container1, #container3, #pagelist, #viewall, div.spoiler.open
{
	background-color: #1e2124 !important;
}

#main header nav a
{
	color:#fff !important;
}

/* Fonts */

.text, #nextlinks, #backlinks, #content
{
	font-family:"Source Sans Pro", sans-serif;
	font-weight:400;
}

#links>span
{
	display:none;
}

#links a:before
{
  content:">";
	font-weight:bold;
	font-family:"Source Sans Pro", sans-serif;
	display:inline-block;
	width:25px;
	text-align:center;
	color:#99AAB5 !important;
	padding:0px 6px 4px 6px;
	float:left;
}

#links a
{
	font-family:"Source Sans Pro", sans-serif;
	color:#99AAB5 !important;
	border:solid #ccc;
	display:block;	
	border-radius: 4px;
	border-width: 2px;
	font-size:16px;
	float:right;
	width:100%;
	margin-bottom:20px;
	line-height:24px;

}

#links a:hover, #links a:hover:before
{
  transition-property: all;
  transition-duration: 0.2s;
	color:#fff !important;
	border-color:#7289DA;
	background-color:#7289DA;
}

#pagecommand, #command span
{
	font-family:"Source Sans Pro", sans-serif;
	font-weight:700;
	color:#4f545c;
}

.text, #content
{
	font-weight:normal;
	font-size: 15px;
	color:#747f8d;
}

article.adventurepage, #slide
{
	background:#fff;
}

#adventureinfo, #favoriting, #suggestions, #pagelist, ul.adventurepagelist, #info
{
	font-family:"Source Sans Pro";
	font-weight:400;
	font-size:12px;
	color:#f5f1df;
}

a
{
	text-decoration:none;
	color:#2dbbf6 !important;
}

.slidelink
{
	font-weight:700;
}

.alert {
	color:#ff9800;
	text-shadow:none;
}

.alert:before {
	content:"Blocking ads? Cool. Be a pirate with us: https://discord.gg/ZRqph8y";
    background-color: #ff9800;
    color: #ffffff;
    text-shadow: 0px 1px 3px black;
}

.p1 #content a
{
	color:#fff !important;
	background-color: #7289da;
	display:block;
	margin:-16px -25px;
	font-family:"Exo", sans-serif;
	text-transform:uppercase;
	font-size:2em;
	padding:4px;
}

.p1 #content a:last-child
{
	margin-bottom: 25px;	
}

#infobox span.major 
{
	font-family:"Exo", sans-serif;
	text-transform:uppercase;
	text-shadow:none;
	font-size:1em;
	color:#fff;
}

#content>span>embed,
#content canvas
{
	margin: 0px -25px;
}

div.um {
  background-image:url("https://ultrasaber.github.io/hosting/internet-advertising-should-rot.png") !important;
}

#links div:before {
	display:none;
}
